html
{
    background-color: #141B41;
}
body
{
    display: flex;
    justify-content: left;
}
h1 
{
    color: #6F9CEB;
}
h3
{
    color: #306BAC;
}
h4
{
    color: #306BAC;
}
img
{
    width: 400px;
}
#thirdDiv
{
    background-color: #918EF4;
    width: 500px;
    height: 600px;
    padding: 50px;
    border: 10px solid #98B9F2;
}

#spanId
{
    font-size: 18px;
    margin: 50px;
    color: #6F9CEB
}
body
{
    background-image: url("https://thumbs.gfycat.com/MiserableInsubstantialCollie-size_restricted.gif");
    align-content: center;
}
div
{
    text-align: center;
}
a
{
color: #98B9F2;
}
